<% content_for :title, "Weekly Meal Plan" %>

<h1>Week of <%= @start.strftime("%a %b %-d") %></h1>

<table>
  <thead>
    <tr>
      <th>🗓️</th>
      <th>🥣</th>
      <th>🫴</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <%= form_with(model: plan) do |f| %>
          <td><%= plan.date.strftime("%a") %></td>

          <td>
            <%= f.text_field :meal,
              data: { controller: "plan", action: "change->plan#update" } %>
          </td>

          <td>
            <%= f.check_box :shared, data: { controller: "plan", action: "change->plan#update" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
